/* Reduce chart line width to 1 pixel. */
.custom-chart .chart-series-line {
  -fx-stroke-width: 1px;
  -fx-effect: null;
}

/* JavaFX 8 comes with dashed chart grid lines.
 * The performance becomes poor when chart size is large (e.g. due to zooming),
 * so draw plain lines instead.
 */
.custom-chart .chart-vertical-grid-lines,
.custom-chart .chart-horizontal-grid-lines
{
  -fx-stroke-dash-array: null;
}

/* The node displaying currently hovered series data in the chart. */
.custom-chart .chart-data-hover {
  /* Properties copied from 'chart-line-symbol', with smaller inset/padding. */
  -fx-background-color: CHART_COLOR_1, white;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5px;
  -fx-padding: 1px 3px 1px 3px;

  /* Properties copied from 'chart-series-line', with tighter stroke width. */
  -fx-stroke: CHART_COLOR_1;
  -fx-stroke-width: 1px;

  /* Custom properties. */
  -fx-font-size: 14;
  -fx-opacity: 0.6;
}

/* The lines pointing to the currently hovered data point. */
.custom-chart .chart-vertical-current-line,
.custom-chart .chart-horizontal-current-line
{
  -fx-stroke: #606060;
  -fx-stroke-dash-array: 5 5;
  -fx-stroke-width: 1px;
}

/* The lines pointing to the reference data point. */
.custom-chart .chart-vertical-reference-line,
.custom-chart .chart-horizontal-reference-line
{
  -fx-stroke: #A0A0A0;
  -fx-stroke-dash-array: 5 5;
  -fx-stroke-width: 1px;
}

.chart-zoom-zone {
  -fx-fill: #000000;
  -fx-opacity: 0.2;
}

/* The marker lines pointing to chart data. */
.custom-chart .chart-marker-line {
  -fx-opacity: 0.15;
  -fx-stroke: CHART_COLOR_1;
  -fx-stroke-dash-array: 5 5;
  -fx-stroke-width: 1px;
}

/* The chart markers. */
.custom-chart .chart-marker .svg-path {
  -fx-opacity: 0.8;
  -fx-fill: CHART_COLOR_1;
}

/* Animation highlighting. */
.custom-chart .chart-marker-line:animation-highlight {
  -fx-stroke: orange;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0.0, 1, 1);
  -fx-opacity: 0.6;
}

/* Animation highlighting.
 * Color/opacity must be applied on SVG paths. Effect must be applied on group
 * (if applied on paths, it moves its positions to the shadow one ?!).
 * Don't forget effect is applied before scaling (1/32) in group.
 */
.custom-chart .chart-marker:animation-highlight .svg-path {
  -fx-fill: orange;
  -fx-opacity: 1;
}
.custom-chart .chart-marker:animation-highlight .svg-group {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 96, 0.0, 32, 32);
}

.custom-chart .chart {
  /* Adapt chart padding. Original padding is 5px.
   * Add some more space at the top (for markers), and remove it at bottom and
   * left (which has already enough space separation it from the border.
   */
  -fx-padding: 10px 5px 0px 0px;
}

/* Move up zoom node to add some space over chart top. */
.custom-chart .chart-zoom-level {
  -fx-translate-y: -1px;
}

/* Remove underline on zoom level. */
.custom-chart .chart-zoom-level:hover {
  -fx-underline: false;
}
