/* 'warning' class uses orange to highlight fields */
:warning {
  -fx-border-color: rgb(255, 165, 0);
  /* By default border is transparent (and thus takes no place). When
   * displayed, it will make the node size (and parent layout) change, unless
   * countered. See: https://bugs.openjdk.java.net/browse/JDK-8120031
   */
  -fx-border-insets: -1;
  -fx-focus-color: rgb(255, 165, 0);
  -fx-faint-focus-color: rgba(255, 165, 0, 0.2);
}

:warning:focused {
  /* Border + focus color is not visually nice. */
  -fx-border-color: transparent;
}

/* 'error' class uses red to highlight fields */
:error {
  -fx-border-color: rgb(255, 0, 0);
  -fx-border-insets: -1;
  -fx-focus-color: rgb(255, 0, 0);
  -fx-faint-focus-color: rgba(255, 0, 0, 0.2);
}

:error:focused {
  -fx-border-color: transparent;
}

.image-button {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 6, 0.0, 0, 1);
}

.image-button:hover {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1.0), 6, 0.0, 0, 1);
}

.image-button:pressed {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1.0), 3, 0.0, 0, 1);
}
