/* Center text (which applies to multilines) and not only label for column headers. */
.table-view .column-header .label {
  -fx-text-alignment: center;
}

/* Display number values on the right side, and have graphic content (like warning icon) on the left side. */
.table-view .table-row-cell .value-number {
  -fx-alignment: center-right;
  -fx-content-display: left;
}

/* Dedicated 'sum' row style.
 * Use bold text, add a top border to denote separation, and darken a bit the
 * content color.
 */
.table-view .table-row-cell:row-total {
  -fx-font-weight: bold;
  -fx-background-color: derive(-fx-table-cell-border-color, -30%), -fx-table-cell-border-color, derive(-fx-background, -6%);
  -fx-background-insets: 0, 2 0 0 0, 2 0 1 0;
}

.table-view .table-row-cell:row-total-partial {
  -fx-font-weight: bold;
  -fx-background-color: -fx-table-cell-border-color, derive(-fx-background, -2%);
}

.table-view .table-row-cell:row-total-partial:first {
  -fx-font-weight: bold;
  -fx-background-color: derive(-fx-table-cell-border-color, -10%), -fx-table-cell-border-color, derive(-fx-background, -2%);
  -fx-background-insets: 0, 2 0 0 0, 2 0 1 0;
}

/* Set text color for 'positive' and 'negative' values.
 * 'fill' is for shapes like Text, 'text-fill' for nodes with text.
 * Take care of table cells specifically: by default text color becomes
 * white when row is selected (and remain black if not selected or not
 * focused).
 */
:value-positive,
.table-row-cell:selected:focused .cell:value-positive
{
  -fx-fill: #009000;
  -fx-text-fill: -fx-fill;
}

.table-view:focused .table-row-cell:selected .cell:value-positive {
  -fx-fill: #40E040;
}

:value-negative,
.table-row-cell:selected:focused .cell:value-negative
{
  -fx-fill: #E00000;
  -fx-text-fill: -fx-fill;
}

.table-view:focused .table-row-cell:selected .cell:value-negative {
  -fx-fill: #B00000;
}

/* Use table-row-cell style on tree-table-row-cell. */
.tree-table-row-cell {
  -fx-background: -fx-control-inner-background;
  -fx-background-color: -fx-table-cell-border-color, -fx-background;
  -fx-background-insets: 0, 0 0 1 0;
  -fx-padding: 0;
  -fx-text-fill: -fx-text-background-color;
}

.tree-table-row-cell:odd {
  -fx-background: -fx-control-inner-background-alt;
}

/* Row selected. */
.tree-table-row-cell:selected {
  -fx-background: -fx-selection-bar-non-focused;
  -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

/* Focus on table, row selected. */
.tree-table-view:focused .tree-table-row-cell:selected {
  -fx-background: -fx-selection-bar;
  -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

/* Animation highlighting. */
.tree-table-view:focused .tree-table-row-cell:animation-highlight,
.tree-table-view:focused .tree-table-row-cell:selected:animation-highlight,
.tree-table-row-cell:animation-highlight
{
  -fx-background: orange;
  -fx-table-cell-border-color: derive(-fx-background, 20%);
}

/* Custom menu item header. */
.custom-menu-item.header > .label {
  -fx-font-weight: bold;
}

/* Disable highlighting for no-select custom menu items. */
.custom-menu-item.no-select:focused {
  -fx-background-color: transparent;
}

.custom-menu-item.no-select:focused > .label {
  -fx-text-fill: -fx-text-base-color;
}

/* And use darker background for header custom menu items. */
.custom-menu-item.header, .custom-menu-item.header:focused {
  -fx-background-color: derive(-fx-control-inner-background, -10%);
}
